<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FDJ-Excercice.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B745A612A0E3CCC00D4C61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B745A722A0E3CCE00D4C61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B745A7C2A0E3CCE00D4C61C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
